body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f9f9f9;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.audio-button {
    display: inline-block;
    background: #ffffff00;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.audio-button:hover {
    color: #ff0000bd;
    transform: scale(0.8);
    text-align: center;
}

.circle {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    border: 4px solid #33333387;
    background: url('./프로필사진.jpg') no-repeat center center / cover;
}



.hero {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
    background: #f5f5f5; 
}

.hero-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
}

.button {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #ff0000a5;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s;
}

.button:hover {
    background: #cb0000;
}

.section {
    padding: 40px 20px;
    background: #f9f9f9;
    text-align: center;
}

#about {
    background: #f4f4f4;
    border-radius: 10px 10px 0 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.hobby-grid {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.hobby-grid-sub {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.hobby-grid-sub img {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 20px 0px 20px;
}

#hobby {
    border-radius: 0 0 10px 10px;
}

.hobby-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
}
/* hobby 커서 반응 */
.hobby-item:hover {
    background: #828282;
}

.no-hover:hover {
    background: #ffffff;
    transform: none; 
}

.hobby-item img {
    height: 300px;
    width: 300px;
    padding: 20px 20px 0px 20px;
}

.hobby-item h3 {
    margin: 10px 0;
    color: #333;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
